doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title czoom
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1#welcome czoom
    main
      div#nickname
        label Enter your Nickname:
        input(type="text" name="nickname" required)
      nav#roomNav
        h4 Enter a existing room
        ul
      div#create
        h4 or create a new room
        form
          label Room Name:
          input(type="text" id="roomName" name="roomName" required)
          button Submit
      button#exit Exit Room
      div#call
        div#myStream
          video#myFace(autoplay,playsinline, muted, width="400", height="400")
          select#cameras
          video#peerFace(autoplay,playsinline, width="400", height="400")
          button#mute Mute
          button#camera Turn Camera Off
    script(src="/socket.io/socket.io.js")
    script(src="public/js/app.js")
